{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<title>登陆</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta name="description" content="">
    <meta name="author" content="">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="{% static 'css/common.css' %}">
	<!--<link rel="stylesheet" href="/static/css/common.css'">-->	
</head>

<body>
	{% include "head.html" %}
	
		<h1>你好 {{username}} !</h1>
		
	{% include "foot.html" %}
	<hr />
	<a href="http://192.168.17.134:8000/online/logout/">登出</a>	
</body>
</html>