{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta name="description" content="">
    <meta name="author" content="">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="{% static 'css/common.css' %}">
	<!--<link rel="stylesheet" href="/static/css/common.css'">-->	
</head>

<body>
	{% include "head.html" %}
	
		Thank you for your tweet submission,An email has been sent to the assigned approver
		<hr />
		{%if tweets_in_queue > 1 %}
			There are currently{{tweets_in_queue}} tweets waiting for approval
		{%else%}
			your tweet is the only one warint from aporoval.
		{%endif%}
		
	{% include "foot.html" %}
</body>
</html>